/*
1. Posicionamiento              Position Fix, relative etc, todo lo que ayude a posicionar
2. Modelo caja (Box Model)      Todos los margin paddng etc
3. Tipografia
4. Visuales
5. Otros
*/

:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    /* El gradiente lineal nos hace un difuminado o un degradado de los colores, investigas que es los grados deg y como usar los porcentajes, segun es como  el porcentaje que usara de cada color */
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;     /* Esto es para centrar un elemento hijo que su padre tiene display flex, esto centra automaticamente todo el contenedor div con esa clase */
}

.header--title--container {
    width: 90%;
    min-width: 288px;       /* Esto se va a achicar hasta un limite de 288px, de ahi no pasa */
    max-width: 900px;       /* Esto crecerá hasta llegar a los 900px, de ahi no pasa */
    height: 218px;
    margin-top: 40px;
    text-align: center;         /* Aqui alineamos el texto al centro */
    align-self: center;             /* Esto es para centrar un elemento hijo que su padre tiene display flex, esto centra automaticamente todo el contenedor div con esa clase */
}

.header--title--container h1 {      /* Aqui somos muy especificos con la llamada para el estilo, no sabemos si habra mas h1 en el header, por buena practica, solo se usa uno pero puede haber mas, asi que al entrar directamente al contenedor nos "div" aseguramos que tome directamente el h1 del "div" */

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;          /* Esto es la separacion entre lineas */
    color: var(--just-white);
}

.header--title--container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;           /* Elige la fuente de 500 que habiamos descargado de google fonts */
    line-height: 1.8rem;        /* Esto es la separacion entre lineas */
    color: var(--soft-orange);
}

.header--title--container .header--button {
    position: absolute;     /* Posiciona un objeto de manera relativa a su contenedor padre y asi poder ponerlo en cualquier posicion incluso sobre otros elementos */
    left: calc(50% - 117px); /* Hace un calculo para posicionar el boton, el 50% de 229px que es su propio width de contenedor, a ese 229/2 le restas 117px, para ser mas simetricos, solo toma 114.5px */
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/iconos/Vector.svg");
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/bitcoin.svg');
    /* Propiedades de las imagnes, buenas practicas */
    background-size: cover;
    background-position: center;        /* Para poder posicionar siempre la imagen en el centro */
    background-repeat: no-repeat;       /* Si la imagen fuese mas chica que el contenedor, lo que hara el background-image sera repetir la imagen para abarcar el contenido de su contenedor */
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575
}

.main-currency-table {
    width: 70%;
    min-width: 253px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-left: 33px;
    text-align: left;
    color: var(--bitcoin-orange);
}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 202px;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    padding-left: 20px;
    text-align: left;
    background-color: var(--just-white);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;  /* Las esquinas van contando en sentido horario 1 2 3 4 */
}

.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right {
    font-weight: normal;
    color: #757575;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.currency-table--container .down {
    display: inline-block;     /* Este es para que se posicione delante de el precio, span se comporta como linea */
    /* Se le da una dimension para que exista y lo puedas ver, si no le das dimension no va a aparecer en tu pagina. */
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/iconos/icono_trending_down.svg);
    /* propiedades de las imagenes, buenas practicas */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.currency-table--container .up {
    display: inline-block;     /* Este es para que se posicione delante de el precio, span se comporta como linea */
    /* Se le da una dimension para que exista y lo puedas ver, si no le das dimension no va a aparecer en tu pagina. */
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/iconos/icono_trending_up.svg);
    /* propiedades de las imagenes, buenas practicas */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}